$primary: #64b5f6;
$primaryLight: #9be7ff;
$primaryDark: #2286c3;

$secondary: #81c784;
$secondaryLight: #b2fab4;
$secondaryDark: #519657;

$darkBackground: #333;
$mediumBackground: #444;
$lightBackground: #555;
$font: white;
