@import "assets/scss/colors.scss";
@import "assets/scss/grid.scss";
@import "assets/scss/fonts.scss";

body {
  margin: 0;
}

.app {
  font-family: $textFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font;
  background-color: $darkBackground;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  margin: 0 auto;
  max-width: #{100 * $gridUnit};
  padding: 0 #{1 * $gridUnit};
}

a,
a:visited {
  font-weight: bold;
  color: $primary;
  text-decoration: none;
}

.page {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.icon {
  fill: transparent;
  stroke: white;
}

body > svg:last-child {
  display: none;
}
