@import "assets/scss/colors.scss";
@import "assets/scss/grid.scss";

@font-face {
  font-family: "Kalam";
  src: url("/fonts/Kalam-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Komika Axis";
  src: url("/fonts/KOMIKAX_.ttf") format("truetype");
}

body {
  margin: 0;
}

.app {
  font-family: "Kalam", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font;
  background-color: $darkBackground;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  margin: 0 auto;
  max-width: #{100 * $gridUnit};
}

a,
a:visited {
  font-weight: bold;
  color: $primary;
  text-decoration: none;
}

.page {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.icon {
  fill: transparent;
  stroke: white;
}

body > svg:last-child {
  display: none;
}
